<html ng-app="WeatherApp">
	<head>
		<title>Weather App</title>
		<link rel="stylesheet" href="css/weatherapp.css" />
	</head>
	<body ng-controller="WeatherController">
		<main>
			{header}
			{{header}}
		</main>
		<script src="lib/angular.min.js"></script>
		<script src="lib/angular-cookies.min.js"></script>
		<script src="lib/weatherapp.js"></script>
	</body>
</html>