aside {
    width:300px;
    float:left;
}

main {
    width:724px;
    float:right;
    padding-left:24px;
}

/* navigation */
nav {
    width:300px;
    background-color:rgb(240,240,240);
    border:solid 1px rgb(220,220,220);
    padding:0 12px;
}

nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

nav li {

}

nav li a {
    color:rgb(50,50,50);
    font-weight:700;
}

a.active {
    color: green;
}

header {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
    }
}

article {
    h1 {
        font-size: 2rem;
    }

    h2 {
        color: #666;
        font-size: 1.5rem
    }
}